html{
    scroll-behavior: smooth;
}
body{

    background-image:url("images/background.png");
    /* background-repeat: no-repeat; */
    margin: 0;
    
}
.header{
    background-image:url("images/head.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.content{
    padding-top: 75px;
    border-top: 25px solid black;
    position: relative;
}
table{
    width: 1200px;
    height: 100vh;
    border-collapse: collapse;
    margin: 0 auto;
}
tr,td{
    border: 25px solid white;
    text-align: center;
    vertical-align: bottom;
}
img{
    width: 560px;
}
p{
    background-color: white;
    width: max-content;
    font-size: 23px;
    border-radius: 25px;
    margin: 23px auto;
    padding: 10px;
}
a{
    color:white ;
    background-color: #894AFF;
    padding: 11px 30px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 23px;
    position: absolute;
    bottom: 75px;
    right: 80px;
}
